<h1>All Restaurants</h1>
<ul>

  <% @restaurants.each do|restaurant| %>
    <%= restaurant.title %>
    <li>
      <%=link_to restaurant.title, restaurant_path(restaurant)%>
    </li>
  <%end  %>

</ul>
